@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mulish:wght@400;700&family=Nunito&display=swap');
:root {
    --grey-black: #333333;
    --dark-red: #EC1F46;
    --duron-faraway-blue: #F5FAFE;
    --white: #FFFFFF;
    --dark-blue: #0A223D;
    --navtop-font-size: 10px;
    --navtop-line-height: 13px;
}

body {
    max-width: 1440px;
    margin: auto;
}


/* Navigation Top */

.navtop-container {
    position: relative;
    display: block;
    width: 1440px;
    height: 120px;
}

.navtop-top {
    color: var(--grey-black);
    background-color: var(--duron-faraway-blue);
    height: 60px;
    width: 1440px;
}

.navtop-top__one {
    position: absolute;
    width: 243px;
    height: 13px;
    left: 165px;
    top: 14px;
}

.navtop-top__one a {
    text-decoration: none;
    color: var(--grey-black);
}

.navtop-top__one p {
    position: absolute;
    width: 239px;
    height: 11px;
    color: var(--grey-black);
    font-family: Mulish;
    font-style: normal;
    font-size: var(--navtop-font-size);
    line-height: var(--navtop-line-height);
}

.navtop-top__two_a {
    position: absolute;
    width: 102px;
    height: 18px;
    left: 957px;
    top: 25px;
}

.navtop-top__two_b {
    position: absolute;
    width: 115px;
    height: 18px;
    left: 1157px;
    top: 25px;
}

.navtop-top__two_a img,
.navtop-top__two_b img {
    width: 18px;
    height: 18px;
}

.navtop-top__two_a span,
.navtop-top__two_b span {
    position: absolute;
    width: 83px;
    height: 13px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    color: var(--grey-black);
    font-size: var(--navtop-font-size);
    line-height: var(--navtop-line-height);
    left: 36px;
    bottom: 0px;
}

.navtop-top__two_b span {
    bottom: 1px;
}


/* Navbar */

.navbar {
    position: relative;
    display: block;
    width: 1440px;
    height: 120px;
    left: 2px;
    top: 0px;
}

.navbar__logo {
    height: 60px;
    width: 1440px;
}

.navbar__logo span {
    position: absolute;
    width: 177px;
    height: 24px;
    left: 162px;
    top: 0px;
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: var(--grey-black);
}

.navbar__logo span span {
    position: initial;
    color: var(--dark-red);
}

.navbar__search {
    position: absolute;
    width: 352px;
    height: 42px;
    left: 450px;
    top: -10px;
}

.navbar__search label {
    position: absolute;
    height: 25px;
    left: 23px;
    top: 11px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-black);
}

.navbar__search input {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 0px;
    background: var(--duron-faraway-blue);
    border-radius: 6px;
    border: none;
}

.navbar__search-btn {
    position: absolute;
    width: 64px;
    height: 40px;
    left: 286px;
    background: var(--dark-red);
    border-radius: 0px 6px 6px 0px;
    border: none;
}

#search_icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 12px;
}

.navbar__cart {
    position: relative;
    width: 34px;
    height: 34px;
    left: 1038px;
    top: -60px;
}

.navbar__cart-icn1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1px;
    top: 0px;
}

.icon-badge {
    background-color: var(--dark-red);
    color: #fff;
    text-align: center;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 16px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 9.2px;
    line-height: 17px;
}

.navbar__profile {
    position: relative;
    width: 150px;
    height: 40px;
    left: 1125px;
    top: -130px;
}

.navbar__profile_img {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(img/Ellipse1.png);
    left: 0px;
    top: 1px;
}

.navbar__profile_text {
    position: absolute;
    width: 49px;
    height: 18px;
    left: 57px;
    top: 12px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-black);
}

.navbar__profile_icn {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 122px;
    top: 7px;
}


/* Navbar Bottom */

.navbar-bottom-container {
    position: relative;
    width: 1440px;
    height: 85px;
    left: 0px;
    top: -100px;
    background: #0A223D;
}

.navbar-bottom-container a {
    text-decoration: none;
    color: var(--white);
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase
}

.navbar-bottom-container ul {
    list-style: none;
}

.navbar-bottom-container a:hover {
    filter: brightness(120%);
}

.navbar-bottom__menu_one {
    position: absolute;
    width: 77px;
    height: 18px;
    left: 168px;
    top: 25px;
}

.navbar-bottom__menu_two {
    position: absolute;
    width: 77px;
    height: 18px;
    left: 328px;
    top: 25px;
}

.navbar-bottom__menu_three {
    position: absolute;
    width: 77px;
    height: 18px;
    left: 464px;
    top: 25px;
}

.navbar-bottom__menu_four {
    position: absolute;
    width: 158px;
    height: 18px;
    left: 623px;
    top: 25px;
}

.navbar-bottom__menu_five {
    position: absolute;
    width: 104px;
    height: 18px;
    left: 865px;
    top: 25px;
}

.navbar-bottom__menu_six {
    position: absolute;
    width: 55px;
    height: 18px;
    left: 1053px;
    top: 25px;
}

.navbar-bottom__menu_seven {
    position: absolute;
    width: 84px;
    height: 18px;
    left: 1192px;
    top: 25px;
}


/* Breadcrumb */

.bread-crumb {
    position: relative;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: -110px;
    background: var(--duron-faraway-blue);
    color: var(--grey-black);
}

.bread-crumb__links {
    position: relative;
    width: 186px;
    height: 13px;
    left: 165px;
    top: 14px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
}

.bread-crumb__links a {
    text-decoration: none;
    color: var(--grey-black);
}


/* Content - Hotel Name */

.content-hotel {
    position: relative;
    display: block;
    height: 1608px;
    width: 1440px;
    top: -110px;
    background: var(--duron-faraway-blue);
}

.content-hotel__stars {
    position: relative;
    display: inline;
    width: 48px;
    height: 8px;
    left: 166px;
    top: 20px;
}

.content-hotel__stars img {
    margin: 1px;
}

.content-hotel__text {
    position: absolute;
    width: 268px;
    height: 30px;
    left: 165px;
    top: 40px;
}

.content-hotel__text_primary {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--grey-black);
    text-transform: uppercase;
}

.content-hotel__text_secondary {
    position: absolute;
    width: 389px;
    height: 15px;
    left: 1px;
    top: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-black);
}

.content-hotel__text-flash-offer {
    position: absolute;
    width: 80px;
    height: 20px;
    left: 447px;
    top: 45px;
    background: var(--dark-red);
    border-radius: 3px;
}

.content-hotel__text-flash-offer span {
    position: absolute;
    width: 60px;
    height: 13px;
    left: 15px;
    top: 3px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: var(--white);
}

.content-hotel__text-user-rating {
    position: relative;
    width: 65px;
    height: 45px;
    left: 1208px;
    top: 22px;
    background: var(--dark-red);
    border-radius: 4px;
}

.content-hotel__text-user-rating-primary {
    position: relative;
    width: 52px;
    height: 10px;
    left: 7px;
    top: 1px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: var(--white);
}

.content-hotel__text-user-rating-secondary {
    position: relative;
    width: 31px;
    height: 18px;
    left: 16px;
    top: 1px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
}

.content-hotel__text-user-rating-secondary-plus {
    font-size: 10px;
}


/* Slider */

.content-hotel__slider {
    position: relative;
    left: 165px;
    top: 40px;
}

.content-hotel__slider_img {
    position: relative;
    width: 728px;
    height: 450px;
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%), url(img/Rectangle5.png);
    border-radius: 8px;
}

.content-hotel__slider-left {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 17px;
    top: 208px;
}

.content-hotel__slider-right {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 679px;
    top: 213px;
}


/* Booking */

.content-hotel__booking {
    position: relative;
    width: 350px;
    height: 210px;
    left: 925px;
    top: -410px;
    background: #0A223D;
    border-radius: 8px;
}

.content-hotel__booking span {
    font-family: Nunito;
    font-style: normal;
    color: var(--white);
}

.content-hotel__booking-price__text-primary {
    position: absolute;
    width: 63px;
    height: 14px;
    left: 28px;
    top: 25px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
}

.content-hotel__booking-price__text-secondary {
    position: absolute;
    width: 85px;
    height: 33px;
    left: 28px;
    top: 38px;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.content-hotel__booking-price__text-tertiary {
    position: absolute;
    width: 86px;
    height: 16px;
    left: 28px;
    top: 67px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.content-hotel__booking-person-room__icn-primary {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 249px;
    top: 33px;
}

.content-hotel__booking-person-room__text-primary {
    position: absolute;
    width: 57px;
    height: 16px;
    left: 271px;
    top: 33px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.content-hotel__booking-person-room__icn-secondary {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 249px;
    top: 58px;
}

.content-hotel__booking-person-room__text-secondary {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 273px;
    top: 58px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.content-hotel__booking-call-center__text-primary {
    position: absolute;
    width: 119px;
    height: 25px;
    left: 28px;
    top: 89px;
    font-size: 18px;
    line-height: 25px;
}

.content-hotel__booking-call-center__icn {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 250px;
    top: 96px;
}

.content-hotel__booking-call-center__text-secondary {
    position: absolute;
    width: 54px;
    height: 25px;
    left: 271px;
    top: 91px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}


/* Booking Button */

.content-hotel__booking__button {
    position: absolute;
    width: 295px;
    height: 45px;
    left: 30px;
    top: 130px;
    background: var(--dark-red);
    border-radius: 4px;
}

.content-hotel__booking__button span {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 90px;
    top: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}


/* Booking Map */

.content-hotel__booking__map {
    position: relative;
    width: 347px;
    height: 213px;
    left: 0px;
    top: 238px;
}


/* Cards Menu */

.content-hotel__cards-menu {
    position: relative;
    width: 1105px;
    height: 35.32px;
    left: 167px;
    top: -105px;
}

.content-hotel__cards-menu span {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-black);
}

.content-hotel__cards-menu span:first-of-type {
    color: var(--dark-red);
}

.content-hotel__cards-menu_first {
    position: absolute;
    width: 126px;
    height: 16.45px;
}

.content-hotel__cards-menu_first::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 4px;
    top: 31px;
    left: 0px;
    background: var(--dark-red);
}

.content-hotel__cards-menu_second {
    position: absolute;
    width: 118px;
    height: 16.45px;
    left: 177px;
}

.content-hotel__cards-menu_third {
    position: absolute;
    width: 47px;
    height: 16.45px;
    left: 346px;
}

.content-hotel__cards-menu_fourth {
    position: absolute;
    width: 137px;
    height: 16.45px;
    left: 442px;
}

.content-hotel__cards-menu_fifth {
    position: absolute;
    width: 157px;
    height: 16.45px;
    left: 639px;
}

.content-hotel__cards-menu_sixth {
    position: absolute;
    width: 56px;
    height: 16.45px;
    left: 860px;
}

.content-hotel__cards-menu_seventh {
    position: absolute;
    width: 143px;
    height: 16.45px;
    left: 960px;
}


/* Package Summery */

.content-hotel__package-summery {
    position: relative;
    width: 1110px;
    height: 842px;
    left: 166px;
    top: -68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content-hotel__package-summery_title {
    left: 167px;
    top: 1003px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--grey-black);
}

.content-hotel__package-summery_package-card {
    position: absolute;
    width: 538px;
    height: 200px;
    left: 0px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
}

.content-hotel__package-summery_package-card_title {
    position: absolute;
    width: 538px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: var(--dark-blue);
    border-radius: 4px 4px 0px 0px;
}

.content-hotel__package-summery_package-card_title span {
    position: relative;
    left: 26px;
    top: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
}

.content-hotel__package-summery_package-card_body {
    position: relative;
    width: 479px;
    height: 96px;
    left: 0px;
    top: 62px;
}

.content-hotel__package-summery_package-card_body span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-black);
}

.package-card-body_circle-first {
    position: absolute;
    left: 31px;
    top: 11px;
}

.content-hotel__package-summery_package-card_body_text-first {
    position: absolute;
    width: 155px;
    height: 15px;
    left: 68px;
    top: 13px;
}

.package-card-body_circle-second {
    position: absolute;
    left: 31px;
    top: 50px;
}

.content-hotel__package-summery_package-card_body_text-second {
    position: absolute;
    width: 172px;
    height: 15px;
    left: 68px;
    top: 52px;
}

.package-card-body_circle-third {
    position: absolute;
    left: 31px;
    top: 90px;
}

.content-hotel__package-summery_package-card_body_text-third {
    position: absolute;
    width: 155px;
    height: 15px;
    left: 68px;
    top: 92px;
}

.package-card-body_circle-fourth {
    position: absolute;
    left: 300px;
    top: 12px;
}

.content-hotel__package-summery_package-card_body_text-fourth {
    position: absolute;
    width: 155px;
    height: 15px;
    left: 335px;
    top: 13px;
}

.package-card-body_circle-fifth {
    position: absolute;
    left: 300px;
    top: 51px;
}

.content-hotel__package-summery_package-card_body_text-fifth {
    position: absolute;
    width: 155px;
    height: 15px;
    left: 335px;
    top: 52px;
}

.content-hotel__package-summery_package-offer {
    position: absolute;
    width: 538px;
    height: 200px;
    left: 570px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
}

.content-hotel__package-summery_package-offer_title {
    position: absolute;
    width: 538px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: var(--dark-blue);
    border-radius: 4px 4px 0px 0px;
}

.content-hotel__package-summery_package-offer_title span {
    position: relative;
    left: 26px;
    top: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
}

.content-hotel__package-summery_package-offer_body {
    position: relative;
    width: 479px;
    height: 96px;
    left: 0px;
    top: 62px;
}

.package-offer-body_circle {
    position: absolute;
    left: 26px;
    top: 14px;
}

.content-hotel__package-summery_package-offer_body_text {
    position: absolute;
    width: 168px;
    height: 103px;
    left: 66px;
    top: 13px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-black);
}

.content-hotel__package-summery_package-offer_body_text::after {
    content: "* Valid until 30 April 2020 ";
    position: relative;
    display: block;
    font-style: italic;
    font-size: 10px;
    top: 45px;
}

.package-offer-body_calendar {
    position: absolute;
    left: 280px;
    top: 14px;
}

.content-hotel__package-summery_package-offer_body_text-secondary {
    position: absolute;
    width: 189px;
    height: 18px;
    left: 314px;
    top: 14px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-black);
}

.content-hotel__package-summery_package-details {
    position: absolute;
    width: 1110px;
    height: 570px;
    left: 0px;
    top: 300px;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
}

.content-hotel__package-summery_package-details_title {
    position: absolute;
    width: 1110px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: var(--dark-blue);
    border-radius: 4px 4px 0px 0px;
}

.content-hotel__package-summery_package-details_title span {
    position: relative;
    left: 26px;
    top: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
}

.line {
    position: absolute;
    width: 1048px;
    height: 0px;
    left: 27px;
    top: 398px;
    border: 1px dashed #E0E0E0;
}

.content-hotel__package-summery_package-details_body-first-group {
    position: relative;
    width: 258px;
    height: 239px;
    left: 26px;
    top: 95px;
}

.content-hotel__package-summery_package-details_body-title {
    position: absolute;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--dark-red);
}

.activity {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-black);
}

.activity-one {
    position: relative;
    width: 258px;
    height: 239px;
    left: 0px;
    top: 30px;
}

.activity-one .group01 {
    width: 162px;
    height: 16px;
}

.activity-one .group01-circle {
    position: relative;
    left: -3px;
    top: 6px;
}

.activity-one .group01-text {
    position: relative;
    width: 122px;
    height: 15px;
    left: 17px;
    top: 2px;
}

.activity-one .group02-circle {
    position: relative;
    left: -3px;
    top: 26px;
}

.activity-one .group02-text {
    position: relative;
    left: 17px;
    top: 22px;
}

.activity-one .group03-circle {
    position: relative;
    left: -3px;
    top: 46px;
}

.activity-one .group03-text {
    position: relative;
    left: 17px;
    top: 42px;
}

.activity-one .group04-circle {
    position: relative;
    left: -3px;
    top: 66px;
}

.activity-one .group04-text {
    position: relative;
    left: 17px;
    top: 62px;
}

.activity-one .group05-circle {
    position: relative;
    left: -3px;
    top: 86px;
}

.activity-one .group05-text {
    position: relative;
    left: 17px;
    top: 82px;
}

.activity-one .group06-circle {
    position: relative;
    left: -3px;
    top: 106px;
}

.activity-one .group06-text {
    position: relative;
    left: 17px;
    top: 102px;
}

.content-hotel__package-summery_package-details_body-second-group {
    position: relative;
    width: 284px;
    height: 238px;
    left: 398px;
    top: -143px;
}

.activity-two {
    position: relative;
    width: 284px;
    height: 238px;
    left: 10px;
    top: 50px;
}

.activity-two .group01-circle {
    position: relative;
    left: -5px;
    top: -15px;
}

.activity-two .group01-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 17px;
    top: -19px;
}

.activity-two .group02-circle {
    position: relative;
    left: -5px;
    top: 0px;
}

.activity-two .group02-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 17px;
    top: -5px;
}

.activity-two .group03-circle {
    position: relative;
    left: -5px;
    top: 21px;
}

.activity-two .group03-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 17px;
    top: 16px;
}

.activity-two .group04-circle {
    position: relative;
    left: -5px;
    top: 40px;
}

.activity-two .group04-text {
    position: relative;
    width: 67px;
    height: 15px;
    left: 17px;
    top: 35px;
}

.activity-two .group05-circle {
    position: relative;
    left: -5px;
    top: 60px;
}

.activity-two .group05-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 17px;
    top: 55px;
}

.activity-two .group06-circle {
    position: relative;
    left: -5px;
    top: 80px;
}

.activity-two .group06-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 17px;
    top: 74px;
}

.content-hotel__package-summery_package-details_body-third-group {
    position: relative;
    width: 244px;
    height: 233px;
    left: 806px;
    top: -381px;
}

.activity-three {
    position: relative;
    width: 284px;
    height: 238px;
    left: 10px;
    top: 50px;
}

.activity-three .group01-circle {
    position: relative;
    left: -8px;
    top: -15px;
}

.activity-three .group01-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 12px;
    top: -20px;
}

.activity-three .group02-circle {
    position: relative;
    left: -8px;
    top: 0px;
}

.activity-three .group02-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 12px;
    top: -5px;
}

.activity-three .group03-circle {
    position: relative;
    left: -8px;
    top: 21px;
}

.activity-three .group03-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 14px;
    top: 16px;
}

.activity-three .group04-circle {
    position: relative;
    left: -8px;
    top: 40px;
}

.activity-three .group04-text {
    position: relative;
    width: 67px;
    height: 15px;
    left: 14px;
    top: 35px;
}

.activity-three .group05-circle {
    position: relative;
    left: -8px;
    top: 60px;
}

.activity-three .group05-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 14px;
    top: 55px;
}

.activity-three .group06-circle {
    position: relative;
    left: -8px;
    top: 80px;
}

.activity-three .group06-text {
    position: relative;
    width: 66px;
    height: 16px;
    left: 14px;
    top: 75px;
}

.content-hotel__package-summery_package-details_body-fourth-group {
    position: relative;
    width: 130px;
    height: 90px;
    left: 26px;
    top: -288px;
}

.activity-four {
    position: relative;
    width: 258px;
    height: 239px;
    left: 0px;
    top: 30px;
}

.activity-four .group01-circle {
    position: relative;
    left: -3px;
    top: 6px;
}

.activity-four .group01-text {
    position: relative;
    width: 122px;
    height: 15px;
    left: 17px;
    top: 2px;
}

.activity-four .group02-circle {
    position: relative;
    left: -3px;
    top: 26px;
}

.activity-four .group02-text {
    position: relative;
    left: 17px;
    top: 22px;
}

.content-hotel__package-summery_package-details_body-fifth-group {
    position: relative;
    width: 194px;
    height: 90px;
    left: 399px;
    top: -378px;
}

.activity-five {
    position: relative;
    width: 258px;
    height: 239px;
    left: 0px;
    top: 30px;
}

.activity-five .group01-circle {
    position: relative;
    left: 4px;
    top: 6px;
}

.activity-five .group01-text {
    position: relative;
    width: 122px;
    height: 15px;
    left: 26px;
    top: 2px;
}

.activity-five .group02-circle {
    position: relative;
    left: 4px;
    top: 26px;
}

.activity-five .group02-text {
    position: relative;
    left: 26px;
    top: 22px;
}

.content-hotel__package-summery_package-details_body-sixth-group {
    position: relative;
    width: 163px;
    height: 90px;
    left: 806px;
    top: -468px;
}

.activity-six {
    position: relative;
    width: 258px;
    height: 239px;
    left: 0px;
    top: 30px;
}

.activity-six .group01-circle {
    position: relative;
    left: 2px;
    top: 6px;
}

.activity-six .group01-text {
    position: relative;
    width: 122px;
    height: 15px;
    left: 26px;
    top: 2px;
}

.activity-six .group02-circle {
    position: relative;
    left: 2px;
    top: 26px;
}

.activity-six .group02-text {
    position: relative;
    left: 26px;
    top: 22px;
}


/* Guest Review Section */

.guest-review {
    position: relative;
    width: 1440px;
    height: 1250px;
    left: 0px;
    top: -110px;
    background: var(--duron-faraway-blue);
}

.guest-review-title {
    position: relative;
    width: 327px;
    height: 45px;
    left: 556px;
    top: 35px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: var(--grey-black);
}

.guest-review-section-one-cards {
    position: relative;
    display: flex;
    left: 100px;
    top: 100px;
}

.guest-review__card-box-big {
    display: flex;
    position: relative;
    width: 730px;
    height: 500px;
}

.guest-review__card-box-big-img-label {
    position: absolute;
    width: 95px;
    height: 30px;
    left: 0px;
    top: 30px;
    background: var(--dark-red);
    border-radius: 0px 4px 4px 0px;
}

.guest-review__card-box-big-img-label span {
    position: relative;
    width: 72px;
    height: 15px;
    left: 14px;
    top: 4px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
}

.guest-review__card-box-big-body {
    position: relative;
    width: 364px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: var(--dark-blue);
    border-radius: 0px 8px 8px 0px;
}

.guest-review__card-box-big-body-title {
    position: relative;
    width: 149px;
    height: 36px;
    left: 40px;
    top: 53px;
}

.guest-review__card-box-big-body-title img {
    margin: 0 1px;
}

.guest-review__card-box-big-body-title span {
    position: relative;
    display: block;
    width: 149px;
    height: 23px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--white);
}

.guest-review__card-box-big-body-title p {
    position: relative;
    width: 299px;
    height: 165px;
    left: 0px;
    top: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160.6%;
    color: var(--white);
}

.guest-review__card-box-big-body-info {
    position: relative;
    width: 203px;
    height: 67px;
    left: 0px;
    top: 300px;
}

.guest-review__card-box-big-body-info span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: var(--white);
}

.guest-review__card-box-big-body-info .group01-icon {
    position: relative;
    left: 38px;
    top: -22px;
}

.guest-review__card-box-big-body-info .group01-text {
    position: relative;
    left: 47px;
    top: -25px;
}

.guest-review__card-box-big-body-info .group02-icon {
    position: relative;
    left: 38px;
    top: -12px;
}

.guest-review__card-box-big-body-info .group02-text {
    position: relative;
    left: 48px;
    top: -15px;
}

.guest-review__card-box-big-body-info .group03-icon {
    position: relative;
    left: -42px;
    top: 13px;
}

.guest-review__card-box-big-body-info .group03-text {
    position: relative;
    left: -32px;
    top: 11px;
}

.guest-review__card-box-big-body-price {
    position: relative;
    top: 300px;
    left: 40px;
}

.guest-review__card-box-big-body-price .price01 {
    position: relative;
    width: 58px;
    height: 18px;
    left: 0px;
    top: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: var(--white);
}

.guest-review__card-box-big-body-price .price02 {
    position: relative;
    width: 85px;
    height: 30px;
    left: -63px;
    top: 29px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
}

.guest-review__card-box-big-body-btn {
    position: relative;
    width: 120px;
    height: 40px;
    left: 220px;
    top: 298px;
    background: var(--dark-red);
    border-radius: 4px;
}

.guest-review__card-box-big-body-btn span {
    position: relative;
    left: 26px;
    top: 9px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.guest-review__card-box-normal {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 730px;
    height: 500px;
    left: 53px;
}

.guest-review__card-box-normal-img {
    height: 250px;
    width: 200px;
}

.guest-review__card-box-normal-img-label {
    position: relative;
    width: 60px;
    height: 18px;
    left: 0px;
    top: -230px;
    background: var(--dark-red);
    border-radius: 0px 4px 4px 0px;
}

.guest-review__card-box-normal-img-label span {
    position: relative;
    width: 42px;
    height: 10px;
    left: 8px;
    top: -2px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: var(--white);
}

.guest-review__card-box-normal-body {
    position: relative;
    width: 350px;
    height: 250px;
    left: 0px;
    top: 0px;
    background: var(--dark-blue);
    border-radius: 0px 0px 8px 8px;
}

.guest-review-section-two-cards {
    position: relative;
    display: flex;
    left: 50px;
    top: 140px;
}

.guest-review-section-two-cards .guest-review__card-box-normal {
    width: 392px;
    left: 50px;
}

.guest-review__card-box-normal-body-title {
    position: relative;
    width: 138px;
    height: 23px;
    left: 29px;
    top: 28px;
}

.guest-review__card-box-normal-body-title span {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--white);
}

.guest-review__card-box-normal-body-info {
    position: relative;
    width: 203px;
    height: 67px;
    left: 0px;
    top: 55px;
}

.guest-review__card-box-normal-body-info span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: var(--white);
}

.guest-review__card-box-normal-body-info .group01-icon {
    position: relative;
    left: 30px;
    top: -11px;
}

.guest-review__card-box-normal-body-info .group01-text {
    position: relative;
    left: 40px;
    top: -14px;
}

.guest-review__card-box-normal-body-info .group02-icon {
    position: relative;
    left: 30px;
    top: -2px;
}

.guest-review__card-box-normal-body-info .group02-text {
    position: relative;
    left: 41px;
    top: -5px;
}

.guest-review__card-box-normal-body-info .group03-icon {
    position: relative;
    left: -50px;
    top: 26px;
}

.guest-review__card-box-normal-body-info .group03-text {
    position: relative;
    left: -39px;
    top: 24px;
}

.guest-review__card-box-normal-body-price {
    position: relative;
    top: 59px;
    left: 32px;
}

.guest-review__card-box-normal-body-price .price01 {
    position: relative;
    width: 58px;
    height: 18px;
    left: 0px;
    top: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: var(--white);
}

.guest-review__card-box-normal-body-price .price02 {
    position: relative;
    width: 85px;
    height: 30px;
    left: -53px;
    top: 31px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
}

.guest-review__card-box-normal-body-btn {
    position: relative;
    width: 120px;
    height: 40px;
    left: 210px;
    top: 56px;
    background: var(--dark-red);
    border-radius: 4px;
}

.guest-review__card-box-normal-body-btn span {
    position: relative;
    left: 26px;
    top: 9px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.guest-review-section-two-cards .guest-review__card-box-normal-body-info {
    top: 59px;
}

.guest-review-section-two-cards .guest-review__card-box-normal-body-price {
    top: 69px;
}

.guest-review-section-two-cards .guest-review__card-box-normal-body-price .fix-01 {
    left: -60px;
}

.guest-review-section-two-cards .guest-review__card-box-normal-body-btn {
    top: 65px;
}